.principal {
    background-color: #fff;
    height: 70px;
    color: black;
    width: 100%;
    font-family: var(--fonte);
}

.principal .header-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

/* Parte da direita do header */
.principal .header-flex .header-left {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 70%;
}


.principal .header-flex .header-left img.logo-nuvem {
    padding: 10px 30px 10px 60px;
}


.principal .header-flex .header-left .left-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
}


.principal .header-flex .header-left .left-item img {
    width: 18px;
    height: 18px;
    margin-right: 5px;
}


.principal .header-flex .header-left .left-item p {
    font-size: 17px;
}

/* Parte da esquerda do header */

.principal .header-flex .header-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.principal .header-flex .header-right .right-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
}


.principal .header-flex .header-right .right-item img {
    width: 15px;
    height: 15px;
    margin-right: 10px;
}

.principal .header-flex .header-right .right-botao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
}

.principal .header-flex .header-right .right-botao a {
    background-color:#8BD42E ;
    padding: 15px 30px;
    font-size: 17px;
    border-radius: 30px;
    color: white;
    transition: all .5s;
}

.principal .header-flex .header-right .right-botao a:hover {
    background-color:#fff ;
    color: #8BD42E;
    border: 2px solid #8BD42E;
}


.principal .header-flex .header-right .right-botao a img {
    padding-right: 10px;
}

/* Faixada de baixo */

.pre-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 40px;
    padding: 0 20px;
    background-color: #223142;
}

.pre-main .pre-texto p {
    font-family: var(--fonte);
    font-weight: 600;
    color: #fff;
    margin-left: 30px;
}

.pre-main .pre-itens{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 380px;
}

.pre-itens .pre-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.pre-itens .pre-item img{
    padding: 0 5px;
}

.pre-itens .pre-item a{
    color: #fff;
    font-family: var(--fonte);
    padding-right: 5px;
    transition: all .4s;
}


.pre-itens .pre-item a:hover{
    color:#2EC9D4;
}