.landing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: white; */
    background: linear-gradient(90deg, #18686E 0%, #0b2e31 100%);;
    color: black;
    height: 80vh;
    width: 100%;
    margin: auto;
    font-family: var(--fonte);
}

.landing .landing-itens {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0 80px;
}

.landing .landing-itens .landing-item.um {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.landing .landing-itens .landing-item .titulo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 310px;
}

.landing .landing-itens .landing-item .titulo .titulo-slogan {
    display: flex;
    align-items: center;
}


.landing .landing-itens .landing-item .titulo .titulo-slogan img{
    width: 20px;
    height: 20px;
}

.landing .landing-itens .landing-item .titulo .titulo-slogan h3 {
    color: #009B3A;
    padding-left: 8px;
    font-size: 14px;
}


.landing .landing-itens .landing-item .titulo .titulo-slogan h3 span{
    font-weight: bold;
}


.landing .landing-itens .landing-item .titulo h1 {
    color: black;
    font-size: 42px;
    font-weight: 500;
    width: 570px;
    margin: 5px 0 0 0;
}


.landing .landing-itens .landing-item .titulo h1 span {
    color: #2EC9D4;
}


.landing .landing-itens .landing-item .titulo p {
    margin: 10px 0 20px;
    line-height: 1.4;
    width: 520px;
}


.landing .landing-itens .landing-item .titulo button {
    display: flex;
    align-items: center;
    padding: 30px 20px 30px 10px;
    height: 45px;
    border-radius: 45px;
    font-weight: bold;
    color: #fff;
    background: #2EC9D4;
}


.landing .landing-itens .landing-item .titulo button .round {
    background-color: #fff;
    height: 40px;
    width: 40px;
    margin-right: 10px;
    border-radius: 50%;
}


.landing .landing-itens .landing-item .titulo button .round img {
    margin-top: 10px;
}

/* Cards */

.landing .landing-itens .landing-item .cards {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 500px;
}


.landing .landing-itens .landing-item .cards .card{
    border-radius: 10px;
    border: 1px solid #CFD6DA;
    padding: 30px 20px;
    text-align: center;
    margin-right: 5px;
    width: 150px;
    height: 150px;
} 

/* Landing right image */

.landing .landing-itens .landing-item.dois{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}


.landing .landing-itens .landing-item.dois .imagem-blur {
    background-image: url('../../../files/images/homem-veloz\ 1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 600px;
    height: 600px;
    margin: 0 80px;
}