.ajuda .a-cards{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 80px 30px;
}

.ajuda .a-cards .a-card{
    border: 1px solid gray;
    border-radius: 15px;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    height: 260px;
}



.ajuda .a-cards .a-card.copy img{
    width: 25px;
}

.ajuda .a-cards.a-card.copy .suporte{
    display: flex;
    flex-direction: row;
}

.ajuda .a-cards .a-card p {
    width: 70%;
    margin: 10px 0;
    text-align: center;
    color: white;
    font-weight: 300;
    font-size: 19px;
    font-family: var(--fonte);
    line-height: 1.5;
}


.ajuda .a-cards .a-card p span{
    font-weight: bold;
}

.ajuda .a-cards .a-card.copy{
    align-items: start;
    padding-left: 20px;
}

.ajuda .a-cards .card{
    width: 500px;
}

.ajuda .a-cards .a-card p, h3{
    width: 80%;
    text-align: start;
}

.ajuda .a-cards .a-card .a-p-item{
    width: 100%;
    font-weight: bold;
    color: rgb(231, 182, 20);
    margin-left: 10px;
}


.ajuda .a-cards .a-card button{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 13px 25px 13px 10px;
    border-radius: 40px;
    background-color: #5DC0C7;
    font-family: var(--fonte);
    font-weight: bold;
    color: white;
}


.ajuda .a-cards .a-card button .round{
    border-radius: 50%;
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    margin-right: 10px;
    height: 100%;
}


.ajuda .a-cards .a-card buntto .round img{
    width: 35px;
    height: 30px;
}

.ajuda .a-cards .a-card .a-card-item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}


.ajuda .a-cards .a-card h3{
    font-size: 32px;
    color: white;
    font-family: var(--fonte);
    font-weight: 500;
}


.ajuda .a-cards .a-card h3 span{
    color: #5DC0C7;
}